@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary: #0C70F2;
    --secondary: #00ABBD;
    --info: #4F9CF9;
    --warning: #FFE492;
    --light: #F2F2F2;
}

.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
}
.bg-info, .btn-info{
    background-color: var(--info) !important;
}
.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
}
.bg-light{
    background-color: var(--light) !important;
}
 


body {
    font-family: Inter;
}