@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary: #0C70F2;
    --secondary: #00ABBD;
    --info: #F4F4F4;
    --warning: #FFE492;
    --light: #F2F2F2;
}

.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
}
.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
}
.bg-info{
    background-color: var(--info) !important;
}
.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
}
.bg-light{
    background-color: var(--light) !important;
}
 

body {
    font-family: Inter;
}

    #clouds {
        width: 70%;
    }

    #form {
        width: 40%;
    }
        #first_name, #email, #cep, #latitude, #longitude {
            color: #393939;
            opacity: 50%;
        }

        button {
            opacity: 90%;
            box-shadow: 0px 5px #C3DCFC;
        }

    #spacer {
        height: 200px;
    }

    #output_adress{
        width: 51%;
    }

    